* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #252525;
}

.container {
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container div {
    height: calc(100% / 16);
    border: 1px solid #f7f7f7;
    flex-basis: calc(100% / 16);
    aspect-ratio: 1 / 1;
}