* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 2px;
    margin-bottom: 10px;
}

.container {
    width: min(90vh, 90vw); /* Take the smaller of these values to ensure square fits */
    height: min(90vh, 90vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}

.container div {
    width: calc((100% - 30px) / 16);
    height: calc((100% - 30px) / 16);
    border: 1px solid #f7f7f7;
}